.candidateShadow {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.redShadow {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    box-shadow: inset 0 0 70px rgb(254 202 202);
}
.greenShadow {
    box-shadow: inset 0 0 70px rgb(187 247 208);
}
.blueShadow {
    box-shadow: inset 0 0 70px rgb(191 219 254);
}
.redBckgr {
    background-color: #FEE5E5;
}
.greenBckgr {
    background-color: #d0eae7;
}

.responsiveFlexDirection {
    display: flex;
    flex-direction: row;
}
.widthResponsive {
    width: 50%;
}

@media only screen and (max-width: 490px) {
    .responsiveFlexDirection {
        flex-direction: column;
    }
    .widthResponsive {
        width: auto;
    }
}